<div>
    <mat-card class="cardWithShadow productcard overflow-hidden">
      <img src="/assets/images/Home/univ.jpg" class="w-100" mat-card-image alt="imgSrc" />
      <mat-card-content class="p-b-24 p-t-12 position-relative">
        <h5 class="mat-headline-2 f-s-16 m-b-4" style="color: #D473D4;"> Nom Universite : </h5>
        <p class="mat-body-2 f-w-600"> {{ UniversiteInput.nomUniversite }}</p>
        <h5 class="mat-headline-2 f-s-16 m-b-4" style="color: #D473D4;">Adresse Universite :</h5>
        <p class="mat-body-2 f-w-600"> {{ UniversiteInput.adress }}</p>
      </mat-card-content>
      <!-- Icône de like -->

    </mat-card>
  </div>
