<mat-card class="cardWithShadow productcard overflow-hidden">
    <img src="/assets/images/Home/chambre.jpg" class="w-100" mat-card-image alt="imgSrc" />
    <mat-card-content class="p-b-24 p-t-12 position-relative">
        <h5 class="mat-headline-2 f-s-16 m-b-4" style="color: #D473D4;"> Nom du Foyer : </h5>
        <p class="mat-body-2 f-w-600"> numero chambre : {{ chambre.numeroChambre }} </p>
        <h5 class="mat-headline-2 f-s-16 m-b-4" style="color: #D473D4;">Capacite du foyer :</h5>
        <p class="mat-body-2 f-w-600"> type chambre : {{chambre.typec}} </p>
    </mat-card-content>
</mat-card>